</!DOCTYPE html>
<html>
<head>
	<title>BCook & NStruhs | Jeopardy</title>
	<link rel="stylesheet" href="styles/main.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
	<script src="scripts/main.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	<script src="scripts/jeopardy.js"></script>
</head>
<body ng-app="myApp" ng-controller="game_controller">
	<div>
		<table id="game_board">
			<tr>
			  <th ng-repeat="category in categories">{{category}}</td>
			</tr>
            <tr ng-repeat="category in categories">
                <td ng-click="click($event,categories[0], $index, 0)">{{($index + 1) * 100}}</td>
                <td ng-click="click($event,categories[1], $index, 1)">{{($index + 1) * 100}}</td>
                <td ng-click="click($event,categories[2], $index, 2)">{{($index + 1) * 100}}</td>
                <td ng-click="click($event,categories[3], $index, 3)">{{($index + 1) * 100}}</td>
                <td ng-click="click($event,categories[4], $index, 4)">{{($index + 1) * 100}}</td>
            </tr>
		</table>

        <table id="team_board">
            <tr>
             <th ng-repeat="team in teams">{{team}}:&nbsp;&nbsp;&nbsp;{{scores[$index]}}</td>
            </tr>
        </table>

        <div id="question_container">
            <div id="close_container">X</div>
            <h2 id="question"></h2>
                <button id="answer_button">Answer</button>
            <h3 id="answer"></h3>
            <div id="teams_container">
                <div class="teams_question_container" ng-repeat="team in teams">Team: {{team}}</div>
            </div>
            <br/>
            <div id="scores_container">
                <div class="score_question_container"  ng-repeat="team in teams" ng-click="update_score($index)">Score: {{scores[$index]}}</div>
            </div>
        </div>
	</div>
</body>





