</!DOCTYPE html>
<html>
<head>
	<title>BCook & NStruhs | Jeopardy</title>
	<link rel="stylesheet" href="styles/main.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
	<script src="scripts/main.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	<script src="scripts/jeopardy.js"></script>
</head>
<body ng-app="myApp" ng-controller="game_controller">
	<div>
		<table id="game_board">
			<tr>
			  <th ng-repeat="category in categories">{{category}}</td>
			</tr>
            <tr ng-repeat="category in categories">
                <td ng-click="click(categories[0], $index)">{{($index + 1) * 100}}</td>
                <td ng-click="click(categories[1], $index)">{{($index + 1) * 100}}</td>
                <td ng-click="click(categories[2], $index)">{{($index + 1) * 100}}</td>
                <td ng-click="click(categories[3], $index)">{{($index + 1) * 100}}</td>
                <td ng-click="click(categories[4], $index)">{{($index + 1) * 100}}</td>
            </tr>
		</table>

        <table id="team_board">
            <tr>
             <th ng-repeat="team in teams">{{team}}</td>
            </tr>
        </table>
	</div>
</body>





