body, html {
	font-family: 'Roboto', sans-serif;
	padding: 0;
	margin: 0;
	background-color: #141414;
	color: white;
}

h1 {
	padding: 10px 30px;
	line-height: 70px;
}

hr {
	color: white;
}

#categories{
	padding: 20px 50px;
}

.catergories-label {
	margin-left: 20px;
}

#teams{
	padding: 20px 50px;
}

.team-label {
	margin-right: 20px;
}

button {
  width: 90px;
  height: 25px;
  display: inline-block;
  appearance: none;
  box-shadow: none;
  border-radius: 0;
  border: 2px solid white;
  background-color: #141414;
  color: white;
}

button:focus {
  outline: none
}

button:hover {
	border: 2px solid #69B1F3;
}

table {
    width: 500;
    margin: auto;
    padding-top: 50px;
}

td {
    border: 1px solid white;
}

td, tr {
    width: 100px;
    text-align: center;
}

#game_board {
    height: 500px;
}

#team_board {
    height: 50px;
}

#question_container {
    width: 100%;
    background-color: white;
    position: absolute;
    z-index: 1000;
    height: 500px;
    top: 80px;
    display: none;
}

#close_container {
    font-size: 44;
    position: absolute;
    right: 40;
    top: 20;
    color: black;
}

#question {
    color: black;
    margin-top: 100px;
    text-align: center;
}

#answer {
    color: black;
    margin-top: 50px;
    text-align: center;
    display: none;
}

#answer_button {
    width: 100px;
    display: block;
    margin: auto;
}

#teams_container {
    width: 100%;
    display: block;
    height: 55px;
}

#scores_container {
    width: 100%;
    display: block;
    height: 55px;
    margin-top: 100px;
}

.teams_question_container {
    color: black;
    display: block;
    width: 175px;
    height: 50px;
    border: 1px solid black;
    float: left;
    margin: auto;
    text-align: center;
    padding: 10px;
    margin: 50px 50px;
}

.score_question_container {
    color: black;
    display: block;
    width: 175px;
    height: 50px;
    border: 1px solid black;
    float: left;
    margin: auto;
    text-align: center;
    padding: 10px;
    margin: -50px 50px 50px 50px;
}







